html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

#landing {
  height: 100%;
  background-color: #3498DB;
  position: relative;
}

#landing-logo-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing-logo {
  width: 500px;
}

@media only screen and (max-width: 550px) {
  #landing-logo {
    width: 300px;
  }
}

#landing-arrow-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0vh;
  padding-bottom: 5vh;
  padding-top: 4vh;
  width: 100%;
  cursor: pointer;
}

#landing-arrow {
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  border-style: solid;
  border-color: white;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  transition: all 200ms;
}

#projects {
  height: 100%;
  border-top: #f6af42 5px solid;
  position: relative;
}

#projects-anchor {
  position: absolute;
  top: 0px;
}

#projects-title {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 30pt;
  font-weight: 500;
  color: #454545;
  margin-top: 10vh;
}

#projects-list {
  margin-top: 5vh;
}

.responsive-wrapper {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.responsive-container {
  width: 1200px;
}

.block-wrapper {
  width: 33.33333333%;
  float: left;
}

@media only screen and (max-width: 1225px) {
  .responsive-container {
    width: 1000px;
  }
}

@media only screen and (max-width: 1025px) {
  .responsive-container {
    width: 800px;
  }

  .block-wrapper {
    width: 50%;
    float: left;
  }
}

@media only screen and (max-width: 825px) {
  .responsive-container {
    width: 400px;
  }

  .block-wrapper {
    width: 100%;
    float: left;
  }

  #social-media-container {
    margin-bottom: 4vh;
  }
}

.block-inner {
  padding: 10px;
}

.block {
  border-radius: 3px !important;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  height: 300px;
}

.block-image-wrapper {
  height: 180px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.block-image {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 100%;
}

.blur-image {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
  filter: blur(25px);
}

.block-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 20px;
}

.block-text-title {
  font-size: 12pt;
  color: dodgerblue;
  margin-bottom: 10px;
}

.block-text-description {
  font-size: 11pt;
  font-family: "Lato", sans-serif;
  color: rgba(52,52,52,0.77);
}

#social-media-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}
/*
.social-media-wrapper:not(:last-child) {
  border-right: #000 1px solid;
}
*/
.social-media-wrapper {
  text-decoration: none;
  padding: 10px;
}

.social-media-wrapper a {
  color: #f6af42;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 10px;
  overflow-y: auto;
  box-sizing: border-box;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.modal-title {
  text-align: center;
  line-height: 1.5;
  margin-top: 40px;
}

.modal-tab-count {
  color: #ee6b45;
  font-weight: 600;
}

.modal-org-name {
  font-weight: 600;
}

.modal-input {
  font-size: 11pt;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border-style: solid;
  border-color: gray;
  border-radius: 4px;
  border-width: 1px;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  text-align: center;
  margin-top: 20px;
}

.modal-input:focus {
  border-color: #6673F5;
  outline: none;
}

.modal-button {
  color: white;
  background-color: #6673F5;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 10pt;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 20px;
}

.modal-close {
  position: absolute;
  top: 30px;
  right: 27px;
  cursor: pointer;
}
/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
