@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    font-family: "Poppins", sans-serif;
    color: #444452;
}

html, body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F6ECF0;
}

.intro {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.intro > img {
    width: 250px;
    height: 250px;
}

.landing-arrow-wrapper {
    display: flex;
    justify-content: center;
}

.landing-arrow {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  border-style: solid;
  border-color: #444452;
  border-width: 0px 4px 4px 0px;
  transform: rotate(45deg);
}

section {
    background-color: #7e8be4;
    color: white;
}